{% extends 'base.html' %}

{% block content %}


<form>
    <select size=6>
          <optgroup label="곡류">
                <option value="쌀20kg">쌀20kg</option>
                <option value="보리쌀1kg">보리쌀1kg</option>
                <option value="콩1kg">콩1kg</option>
                <option value="밀가루2.5kg">밀가루2.5kg</option>
                <option value="두부(국산)340g">두부(국산)340g</option>
                <option value="두부(수입)340g">두부(수입)340g</option>
                <option value="참깨(국산)500g">참깨(국산)500g</option>
                <option value="참깨(국산)500g">참깨(국산)500g</option>
          </optgroup>
          <optgroup label="육류">
                <option value="소등심(국산)500g">소등심(국산)500g</option>
                <option value="소등심(수입)500g">소등심(수입)500g</option>
                <option value="돼지삼겹500g">돼지삼겹500g</option>
                <option value="닭육계1kg">닭육계1kg</option>
                <option value="달걀10개">달걀10개</option>
          </optgroup>
          <optgroup label="어류">
                <option value="갈치60cm">갈치60cm</option>
                <option value="동태40cm">동태40cm</option>
                <option value="조기23cm">조기23cm</option>
                <option value="고등어30cm">고등어30cm</option>
                <option value="오징어25cm">오징어25cm</option>
                <option value="마른멸치5cm/1kg">마른멸치5cm/1kg</option>
                <option value="생선통조림150g">생선통조림150g</option>
          </optgroup>
          <optgroup label="과일">
                <option value="사과10개">사과10개</option>
                <option value="배1개">배1개</option>
                <option value="귤10개">귤10개</option>
          </optgroup>
          <optgroup label="채소">
                <option value="배추2kg">배추2kg</option>
                <option value="상추100g">상추100g</option>
                <option value="무1kg">무1kg</option>
                <option value="콩나물270g">콩나물270g</option>
                <option value="파1단">파1단</option>
                <option value="양파1kg">양파1kg</option>
                <option value="마늘1kg">마늘1kg</option>
                <option value="감자1kg">감자1kg</option>

          </optgroup>
          <optgroup label="생활용품">
                <option value="설탕1kg">설탕1kg</option>
                <option value="참기름320ml">참기름320ml</option>
                <option value="식용류1.8L">식용류1.8L</option>
                <option value="고춧가루100g">고춧가루100g</option>
                <option value="간장1.8L">간장1.8L</option>
                <option value="커피50개">커피50개</option>
                <option value="콜라1.5L">콜라1.5L</option>
                <option value="우유1L">우유1L</option>
                <option value="소주360ml">소주360ml</option>
                <option value="맥주355ml">맥주355ml</option>
                <option value="라면120g">라면120g</option>
                <option value="김16봉">김16봉</option>
          </optgroup>
          <optgroup label="유류">
                <option value="휘발유1L">휘발유1L</option>
                <option value="경유1L">경유1L</option>
                <option value="LPG차량용1L">LPG차량용1L용</option>
                <option value="등유1L">등유1L</option>
                <option value="연탄10장">연탄10장</option>
          </optgroup>
          <optgroup label="세면용품">
                <option value="세탁비누4kg">세탁비누4kg</option>
                <option value="치약130g">치약130g</option>
                <option value="샴푸780ml">샴푸780ml</option>
                <option value="화장지30롤">화장지30롤</option>
          </optgroup>
    </select>
</form>


{% endblock %}