{%  extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        .test {
            background-image: url("{% static 'img/mapmap.png' %}");
            background-size: 80rem;
            height: 50rem;
            width: 80rem;
            margin: 0 auto;
        }
    </style>

    <div class="col text-left test" >
        <div class="col">
        </div>
        <div class="col" style="font-size:1.5rem; font-family: 'Gowun Dodum', sans-serif; line-height:3rem">
            <div class="row text-center">

                <div class="col mx-2">
                </div>
                <div class="col mx-2" style="padding-top:20rem; padding-left:100px;">
                    <input type="submit" value="Gwangsan_gu" name="Gwangsan_gu" class="btn btn-outline rounded-pill px-3" style="color:white; font-family: 'Gowun Dodum', sans-serif;">
                </div>
                <div class="col mx-2">
                    <div class="my-1" style="padding-top:12rem; padding-left:200px;">
                        <span style="width:4rem">
                            <a href="{% url 'trendapp:list' %}" style="color:white; font-size:1rem;">
                                Buk_gu
                            </a>
                        </span>
                    </div>
                    <div class="my-2" style="padding-top:8rem;">
                        <input type="submit" value="Seo_gu" name="Seo_gu" class="btn btn-outline rounded-pill px-3" style="color:white; font-family: 'Gowun Dodum', sans-serif;">
                    </div>
                    <div class="my-2" style="padding-top:5rem;">
                        <input type="submit" value="Nam_gu" name="Nam_gu" class="btn btn-outline rounded-pill px-3" style="color:white; font-family: 'Gowun Dodum', sans-serif;">
                    </div>
                </div>
                <div class="col mx-2" style="padding-top:28rem;">
                    <input type="submit" value="Dong_gu" name="Dong_gu" class="btn btn-outline rounded-pill px-3" style="color:white; font-family: 'Gowun Dodum', sans-serif;">
                </div>
                <div class="col mx-2">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
